.about {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 8vw); /* Full height minus header/footer */
}

.about-window {
    align-items: center;
    color: #fff;
    padding: 4rem;
    width: 50%;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .slideshow {
    width: 50%;
    height: 100%;
    padding: 0; /* Remove padding for slideshow */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about .slideshow .mySlides {
    width: 100%;
    height: 100%;
}

.about .slideshow .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images fill while maintaining aspect ratio */
}
