.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6vw;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.05em;
    user-select: none;
}
.logo-x {
    color: #d10125;
}
.header {
    justify-content: space-between;
    height: 8vw;
    display: flex;
    background-color: #000000;
    width: 100%;
    box-sizing: border-box; /* ensure padding doesn't change total width */
    position: relative;
}
.menu-laser-bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 0.4vw;
    bottom: 0.2vw;
    z-index: 10;
    pointer-events: none;
    /* width: 100% removed for correct alignment */
}
.menu-laser-white {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 12px 2px #fff, 0 0 32px 4px #fff;
    transition: width 0.3s, left 0.3s;
}
.menu-laser-red {
    position: absolute;
    top: 0;
    height: 100%;
    background: #d10125;
    box-shadow: 0 0 18px 2px #d10125, 0 0 36px 6px #d10125;
    transition: left 0.5s cubic-bezier(.4,1,.4,1), width 0.5s cubic-bezier(.4,1,.4,1), opacity 0.28s, transform 0.28s;
    opacity: 0;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: right;
}

.menu a:hover ~ .header-laser,
.menu a:focus ~ .header-laser {
    background: #d10125;
    box-shadow: 0 0 18px 2px #d10125, 0 0 36px 6px #d10125;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
.logo img {
    width: auto;
    height: 100%;
}

.logo img:hover {
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-width: 80%;
    padding-bottom: 2vw;
    position: relative; /* Make menu the positioning context for the laser bar */
}
.menu div {
    display: flex;
    width: 100%;
}
.menu a {
    display: flex; 
    align-items: flex-end; 
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.1vw;
    padding-bottom: 1.8vw; 
}
.menu a {
    position: relative;
}
.menu a:hover {
    cursor: pointer;
    color: #d10125;
    font-size: 1.2vw;
    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu a.active {
    color: #d10125 !important;
}
